@import url('https://fonts.googleapis.com/css?family=Gayathri|Source+Sans+Pro&display=swap');


.App {
  text-align: center;
  background: url('https://res.cloudinary.com/radiscipio/image/upload/v1566938615/ldk7yfspcamsinxsvd1r.jpg') no-repeat;
  background-size: cover;
  
}

.logo {
  height: 6rem;
}

.pikachu {
  position: absolute;
  left: 0;
  height: 100px;
}

header {
  font-family: 'Gayathri', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: white;
  padding: 1em;
  border-bottom: 8px black solid;
}

header a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-between;
}

main ul {
  list-style-type: none;
  width: 50%;
  overflow: scroll;
  height: 70vh;
}

main li {
  padding: 0.25em 5% 0.25em 10%;
  margin: 0.5em;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.08em;
  border: 4px solid black;
  border-radius: 20px 70px 70px 20px;
}

main li:hover {
  background-color: rgb(236, 236, 236);
  border: 4px solid #FBDB32;
}

.pokeball {
  height: 1.5em;
}

.one-pokemon {
  align-self: center;
  margin-right: 15%;
}

.pokemon-card {
  /* background-color: rgb(203, 203, 203); */
  /* padding: 1em; */
  border: 10px solid #FBDB32;
  border-radius: 10px;
  box-shadow: 3px 2px 8px rgb(39, 39, 39);
}

.pokemon-card img{
  padding: 0.5em;
}

.card-details {
  text-align: left;
  padding-left: 0.5em;
}

.my-team {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70vh;
}

.my-team .team-card {
  margin: 1em;
}

footer {
  height: 10vh;
  border-top: 8px black solid;
  background-color: white;
}